/commonModule/build/
/commonModule/.gradle/
/commonModule/.kotlin/
/commonModule/.run/
/commonModule/db.mv.db
/commonModule/dbSQL.mv.db
/commonModuleBenchmark/build
/commonModuleBenchmark/.idea
/commonModuleBenchmark/.gradle
/commonModuleBenchmark/.kotlin/
/commonModuleBenchmark/.run/
/commonModuleBenchmark/db.mv.db
/commonModuleBenchmark/dbSQL.mv.db
/mainModule/build/
/mainModule/plugin/
/mainModule/.idea/
/mainModule/.gradle/
/mainModule/.kotlin/
/mainModule/.run/
/mainModule/db.mv.db
db.mv.db
dbSQL.mv.db
/.idea/
